<% title("Home Page") %>
<h1>Nordstrom Order Portal</h1>
<p>Please login using your storenumber and password to place orders</p>

<%= link_to "Proceed to the login page", new_user_session_path %>

<h2>Help</h2>
If you forgot or have not yet received any login information, please contact Beverage Innovations. 