<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Order for <%= @cart.user.store %></h1>
    <p>
     	We received a new order for <%= @cart.user.store %>
    </p>
    <p>
      Please ship to: <%= @cart.user.address %>.
    </p>
	
  </body>
</html>